*{
    box-sizing: border-box;
    margin: 0;
}

html{
    font-size: 10px;
}

body{
    background-color: #fff;
    font-family: 'Nunito', sans-serif;
    color: #554D89;
    font-size: 1.8rem;
}

.divider{
    border: none;
    border-bottom: 1px solid rgba(225, 228, 237, 0.8);
}
.btn{
    border: none;
    text-decoration: none;
    height: 40px;
    border-radius: 40px;
    padding:0 1.5rem;
    font-family: Poppins;
    cursor: pointer;

}

.header-actions__text{
    display: inline-block;
    margin: 0 0.5rem;
}

.btn-light{
    background-color: transparent;
    border: solid 1px #6852ed;
    font-size: 1.4rem;
    color: #6852ed;
}

.btn-dark{
    color: #fff;
    background-image: linear-gradient(to top, #6852ed, #ba43fc);
    padding: 1.3rem 3rem;
}

ul{
    list-style: none;
}

h1,
h2,
h3{
    font-family: Poppins;
    font-weight: bold;
    color: #554D89;
}

.wrapper{
    width: 1146px;
    margin: 0 auto;
}

.top-header{
    display: flex;
    justify-content: space-between;
    padding: 2.4rem 0 1.7rem;
    font-size: 1.6rem;
}

.top-header__text{
    color: #716c80;
}

.top-header__phone{
    color: #716c80;
    text-decoration: none;
}

.top-header__phone:hover{
    text-decoration: underline;
}

.top-header__phone::before{
    content: "\f879";
    font-family: FontAwesome;
    margin-right: 0.8rem;
}

.header{
    display: flex;
    justify-content: space-between;
    padding-top: 1rem;
    align-items: center;
}

.header__logo{
    display: block;
    margin-right: 5.8rem;
}

.header__menu{
    display: flex;
}

.header__menu-item{
    margin-right: 3rem;
    position: relative;
    padding: 1.8rem 0;
}

/* .header__menu-item:last-child{
    margin-right: 0;
} */

.header__submenu{
    display: none;
    position: absolute;
    top: 5.4rem;
    left: -3rem;
    padding: 3rem;
    border-radius: 10px;
    box-shadow: 0 0 20px 0 #e1e4ed;
}
.header__submenu > .header__menu-item{
    padding: 0;
    margin-bottom: 1rem;
}

.header__submenu > .header__menu-item:last-child{
    margin-bottom: 0;
}
.header__menu-item:hover .header__submenu{
    display: block;
}

.header-navbar{
    display: flex;
    align-items: center;
}

.header__menu-link{
    color: #5b5766;
    font-size: 1.6rem;
    text-decoration: none;
}

.header__menu-link:hover{
    color: #5b5766;
    text-shadow: 0 0 1px #554d89;
}

.header__menu-link_active{
    color: #554d89;
    font-weight: 700;
}

/* content */
.stage{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10rem;
    position: relative;
}

.stage__content{
    position: relative;
    top: -6rem;
}

.stage__title{
    font-size: 5rem;
    line-height: 1.2;
    margin-bottom: 3.2rem;
}

.stage__text{
    font-size: 2.2rem;
    line-height: 1.5;
    margin-bottom: 4rem;
}

.stage__actions .btn-dark{
    margin-right: 3rem;
}

.link{
    border: none;
    background-color: transparent;
    text-decoration: none;
    color: #554d89;
    font-family: Poppins;
    font-size: 1.6rem;
}

.link:hover{
    text-shadow: 0 0 1px #554d89;
}

.link-arrow:after{
    content: '\f30b';
    font-family: FontAwesome;
    margin-left: 1.5rem;
}

.btn-bottom{
    position: absolute;
    bottom: 0;
    left: 50%;
    height: 110px;
    transform: translateX(-50%);
    width: 110px;
    background-color: #6852ed;
    border-radius: 50%;
    display: flex;
    color: white;
    text-decoration: none;
    bottom: 2rem;
}

.btn-bottom > i{
    margin: auto;
    font-size: 50px;
}

.infoblock{
    width: 360px;
    border-radius: 10px;
    box-shadow: 0 0 20px 0 #e1e4ed;
    background-color: #ffffff;
    padding: 3rem;
}

.infoblock:hover{
    box-shadow: 0 0 20px 0 rgba(104, 82, 237, 0.8);
    background-image: linear-gradient(to top, #6852ed, #ba43fc);
}

.features{
    display: flex;
    justify-content: space-between;
    margin-top: 12rem;
}

.infoblock .fas{
    color: #6852ed;
    font-size: 3.2rem;
    margin-bottom: 3rem;
}

.infoblock__title{
    font-size: 2.2rem;
    margin-bottom: 1.9rem;
    line-height: 1.56;
}

.infoblock__text{
    color: #716c80;
}

.infoblock__link{
    display: none;
    color: white;
    margin-top: 3rem;
}

.infoblock:hover  .fas{
    display: none;
}

.infoblock:hover .infoblock__title{
    color: white;
}

.infoblock:hover .infoblock__text{
    color: white;
}

.infoblock:hover .infoblock__link{
    display: inline-block;
}

.article{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.arcticle__img, 
.article__content{
    width: 50%;
    flex-shrink: 0;
    margin-top: 10rem;
}

.article__content{
    padding-left: 3rem;
}

.article__title{
    font-size: 2.8rem;
    line-height: 1.5;
    margin-bottom: 3rem;
}

.article__text{
    margin-bottom: 5rem;
}

.article .btn{
    margin-right: 3rem;
}